.icon {
  position: relative;
  top: .5rem
}

.container {
  display: grid;
  height: 45rem;
  width: 80rem;
  margin: 0 5%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
}

.gridItem {
  grid-column: auto;
  grid-row: auto;
  border: 2px black none;
}

.bottomBorder {
  border-bottom-style: solid;
}

.sideBorder {
  border-right-style: solid;
}

.task {
  margin: 0rem 1rem;
}